<!--<div class="container">
    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="jumbotron text-center">
        <ui-gmap-google-map center='main.map.center' zoom='main.map.zoom'></ui-gmap-google-map>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
                <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
                <div class="caption">
                    <h3>{{ awesomeThing.title }}</h3>
                    <p>{{ awesomeThing.description }}</p>
                    <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- xxx
 <div class="container">

 </div>

 <div class="navbar-offset"></div>
   <ui-gmap-google-map center='main.map.center' zoom='main.map.zoom' options='main.mapOptions' id="map">
     <ui-gmap-polyline visible="main.routeLineVisible" path="main.locations" draggable="false" geodesic="true" stroke="main.map.lineStyle" fit="true">
     </ui-gmap-polyline>
   </ui-gmap-google-map>
   <div class="row main-row">
       <div class="col-sm-4 col-md-4 sidebar sidebar-left pull-left">


          <acme-timecontent creation-date="main.creationDate"></acme-timecontent>


       </div>
   </div>
   <div class="mini-submenu mini-submenu-left pull-left">
       <i class="fa fa-list-alt"></i>
   </div>

 -->
<!-- <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Incidentes del 21 de Mayo </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" uib-dropdown dropdown-append-to-body>
                    <a href="#" uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">layers</i></a>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                        <li><a ng-click="main.toggleRoute()">Ruta</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" uib-dropdown dropdown-append-to-body>
                    <a href="#" uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">layers</i></a>
                    <ul class="dropdown-menu pull-right">
                        <li><label><input type="checkbox"> Oficial</label></li>
                        <li><label><input type="checkbox"> Incidentes</label></li>
                        <li><label><input type="checkbox"> Informacion</label></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<header>
    <div><h1>Manifestaciones 21 de mayo del 2016</h1></div>
    <div style="text-align: right;">
        <a id="layers" href=""><i class="material-icons">layers</i></a>
    </div>
    <div id="cont-layers" class="cont-layers">
        <ul>
            <li><label><input type="checkbox" checked> Oficial</label></li>
            <li><label><input type="checkbox" checked> Incidentes</label></li>
            <li><label><input type="checkbox" checked> Informacion</label></li>
        </ul>
    </div>

    <script type="text/javascript">
        $('#layers').click(function() {
            $('#cont-layers').slideToggle();
        });
    </script>

</header>
<div id="wrapper" class="toggled">
    <ui-gmap-google-map center='main.map.center' zoom='main.map.zoom' options='main.mapOptions' id="map">
        <ui-gmap-polyline visible="main.routeLineVisible" path="main.locations" draggable="false" geodesic="true" stroke="main.map.lineStyle" fit="true">
            <ui-gmap-marker ng-repeat="m in main.map.markers" coords="m.coords" options="m.options" idkey="m.id"></ui-gmap-marker>
        </ui-gmap-polyline>
    </ui-gmap-google-map>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <acme-timecontent creation-date="main.creationDate"></acme-timecontent>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-angle-right"></i></a>
    </div>
    <!-- /#page-content-wrapper -->
    <acme-timeline all-points="main.getHours" item-click="main.setPointOnMap" map="main.map"></acme-timeline>
</div>
<!-- /#wrapper -->



