//wrapper footer layout
.footer-timeline {
    bottom: 0;
    width: 100%;
    z-index: 10000;
    position: fixed;
    .panel-group {
        margin: 0px;
    }
    .panel-body {
        border-top:none !important;
        margin: 0px;
        padding: 0px;
        background-color: #3F3D48;
        color: #FFF;
    }
    .panel-default {
        opacity: 0.9;
    }
    .panel-default > .panel-heading {
        background-color: #3F3D48;
        color: #FFF;
        position: relative;
        &:after {
            top: 6px;
            left: 10px;
            width: 10px;
            height: 10px;
            content: "\f106";
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
    .panel-heading {
        padding: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-group .panel {
        border-radius: 0;
    }
    .panel-title a {
        width: 100%;
        color: white;
        height: 35px;
        outline: none;
        display: block;
        font-size: 24px;
        text-align: center;
        padding: 10px 15px;
    }
    .panel-title a:hover,
    .panel-title a:focus,
    .panel-title a:active {
        outline: none;
        text-decoration: none;
    }
    /* ---- Timeline ---- */
    .box-timeline {
        height: 60px;
        overflow-y: scroll;
        padding-top: 12px;
        //steps
        .timeline {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: initial;
            padding: 0px;
            margin: 0px;
        }
        .li {
            transition: all 200ms ease-in;
        }
        .timestamp {
            margin-bottom: 20px;
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 100;
        }
        .status {
            display: flex;
            position: relative;
            justify-content: initial;
            padding: 0px 7px 0px 3px;
            border-top: 2px solid #D6DCE0;
            transition: all 200ms ease-in;
            margin-bottom: 0px;
        }
        .status h4 {
            font-size:13px;
        }
        .status:before {
            content: "";
            width: 1px;
            height: 10px;
            background-color: #fff;
            margin-bottom: 39px;
            border: 1px solid #ddd;
            position: absolute;
            top: -6px;
            left: 42%;
            transition: all 200ms ease-in;
        }

        li.hour-0700 .status,
        li.hour-0800 .status,
        li.hour-0900 .status,
        li.hour-1000 .status,
        li.hour-1100 .status,
        li.hour-1200 .status,
        li.hour-1300 .status,
        li.hour-1400 .status,
        li.hour-1500 .status,
        li.hour-1600 .status,
        li.hour-1700 .status,
        li.hour-1800 .status {
            margin-bottom: 0px;
            &:before {
                width: 10px;
                height: 10px;
                border-radius: 25px;
                background-color:#d9534f !important;
            }
            h4 {
                display: inline;
            }
        }
        a .li.complete .status {
            border-top: 2px solid #d7dad8;
        }
        .li.complete .status:before {
            background-color: #d7dad8;
            border: none;
            transition: all 200ms ease-in;
        }
        .li.complete .status h4 {
            color: #d7dad8;
            outline: 0px;
            cursor: pointer;
        }
        @media (min-device-width: 320px) and (max-device-width: 700px) {
            .timeline {
                list-style-type: none;
                display: block;
            }
            .li {
                transition: all 200ms ease-in;
                display: flex;
                width: inherit;
            }
            .timestamp {
                width: 100px;
            }
            .status:before {
                left: -8%;
                top: 30%;
                transition: all 200ms ease-in;
            }
        }
    }
}
.categorias {
    margin-left: 15px;
    opacity: 1 !important;
    padding: 3px 10px 10px 10px;
    width: 155px;
}

.categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias ul li {
    margin-bottom:-10px;
}

.categorias img {
    height: 30px;
    margin-bottom: 3px;
}
