<uib-accordion close-others="oneAtATime" class="footer-timeline">
  <div class="categorias panel panel-default">
    <ul>
      <li><span><img src="../../assets/images/oficial.png"></span>Oficial</li>
      <li><span><img src="../../assets/images/incidentes.png"></span>Incidentes</li>
      <li><span><img src="../../assets/images/informacion.png"></span>Redes sociales</li>
      <li><hr></li>
      <li><span><img src="../../assets/images/ruta.png"></span>Ruta marcha</li>
      <li><span><img src="../../assets/images/corte-transito.png"></span>Cortes de tránsito</li>
    </ul>
  </div>
    <div uib-accordion-group class="panel-default" ng-init="status.open = true" is-open="status.open">
        <div class="box-timeline">
        <span class="inten">Intensidad <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <ul class="timeline" id="timeline">
                <li class="li complete" ng-repeat="point in vm.points" ng-class="vm.getClassName(point.Hora_ini, point.markers[0].intensidad)">
                  <div class="status">
                    <h4 ng-click="vm.itemClick(point.Hora_ini)"> {{point.Hora_ini}} </h4>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</uib-accordion>
