//wrapper footer layout
.footer-timeline {
    bottom: 0;
    width: 100%;
    z-index: 10000;
    position: fixed;
    .panel-group {
        margin: 0px;
    }
    .panel-body {
        margin: 0px;
        padding: 0px;
    }
    .panel-default > .panel-heading {
        background: white;
        position: relative;
        &:after {
            top: 6px;
            left: 10px;
            width: 10px;
            height: 10px;
            content: "\f106";
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
    .panel-heading {
        padding: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-group .panel {
        border-radius: 0;
    }
    .panel-title a {
        width: 100%;
        color: white;
        height: 35px;
        outline: none;
        display: block;
        font-size: 24px;
        text-align: center;
        padding: 10px 15px;
    }
    .panel-title a:hover,
    .panel-title a:focus,
    .panel-title a:active {
        outline: none;
        text-decoration: none;
    }
    /* ---- Timeline ---- */
    .box-timeline {
        height: 100px;
        overflow-y: scroll;
        padding-top: 40px;
        // ul {
        //     display: inline;
        //     li {
        //         display: none;
        //         margin-left: 100px;
        //         &.hour-0700 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-0800 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-0900 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1000 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1100 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1200 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1300 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1400 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1500 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1600 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1700 {
        //             color: red;
        //             display: inline;
        //         }
        //         &.hour-1800 {
        //             color: red;
        //             display: inline;
        //         }
        //     }
        // }
        //steps
        .timeline {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: initial;
            padding: 0px;
            margin: 0px;
        }
        .li {
            transition: all 200ms ease-in;
        }
        .timestamp {
            margin-bottom: 20px;
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 100;
        }
        .status {
            padding: 0px 40px;
            display: flex;
            justify-content: initial;
            border-top: 2px solid #D6DCE0;
            position: relative;
            transition: all 200ms ease-in;
        }
        .status h4 {
            font-weight: 600;
        }
        .status:before {
            content: "";
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 25px;
            border: 1px solid #ddd;
            position: absolute;
            top: -15px;
            left: 42%;
            transition: all 200ms ease-in;
        }
        .li.complete .status {
            border-top: 2px solid #d7dad8;
        }
        .li.complete .status:before {
            background-color: #d7dad8;
            border: none;
            transition: all 200ms ease-in;
        }
        .li.complete .status h4 {
            color: #d7dad8;
            outline: 0px;
            cursor: pointer;
        }
        @media (min-device-width: 320px) and (max-device-width: 700px) {
            .timeline {
                list-style-type: none;
                display: block;
            }
            .li {
                transition: all 200ms ease-in;
                display: flex;
                width: inherit;
            }
            .timestamp {
                width: 100px;
            }
            .status:before {
                left: -8%;
                top: 30%;
                transition: all 200ms ease-in;
            }
        }
    }
}
.categorias {
    margin-left: 15px;
    padding: 3px 10px 10px 10px;
    width: 135px;
}

.categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias ul li {
    margin-bottom:-10px;
}

.categorias img {
    height: 30px;
    margin-bottom: 3px;
}