//wrapper footer layout
.footer-timeline {
    bottom: 0;
    width: 100%;
    z-index: 10000;
    position: fixed;
    .panel-group {
        margin: 0px;
        text-align: right;
        position: relative;
    }
    .panel-body {
        border-top: none !important;
        margin: 0px;
        padding: 0px;
        background-color: #3F3D48;
        color: #FFF;
    }
    .panel-default {
        opacity: 0.9;
    }
    .panel-default > .panel-heading {
        background-color: #3F3D48;
        color: #FFF;
        position: relative;
        &:after {
            top: 6px;
            left: 10px;
            width: 10px;
            height: 10px;
            content: "\f106";
            position: absolute;
            font: normal normal normal 14px/1 FontAwesome;
            color: yellow !important;
        }
    }
    .panel-heading {
        padding: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .panel-group .panel {
        border-radius: 0;
    }
    .panel-title a {
        width: 100%;
        color: white;
        height: 35px;
        outline: none;
        display: block;
        font-size: 24px;
        text-align: center;
        padding: 10px 15px;
    }
    .panel-title a:hover,
    .panel-title a:focus,
    .panel-title a:active {
        outline: none;
        text-decoration: none;
    }
    /* ---- Timeline ---- */
    .box-timeline {
        height: 95px;
        overflow-y: scroll;
        padding-top: 50px;
        position: relative;
        //steps
        .timeline {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: initial;
            padding: 0px;
            margin: 0px;
        }
        .li {
            transition: all 200ms ease-in;
            position: relative;
        }
        .timestamp {
            margin-bottom: 20px;
            padding: 0px 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 100;
        }
        .status {
            display: flex;
            position: relative;
            justify-content: initial;
            padding: 0px 7px 0px 3px;
            border-top: 2px solid #D6DCE0;
            transition: all 200ms ease-in;
            margin-bottom: 0px;
        }
        .status h4 {
            font-size: 13px;
        }
        .status:before {
            content: "";
            width: 1px;
            height: 10px;
            background-color: #fff;
            margin-bottom: 39px;
            border: 1px solid #ddd;
            position: absolute;
            top: -6px;
            left: 42%;
            transition: all 200ms ease-in;
        }
        li.hour-0700 .status,
        li.hour-0800 .status,
        li.hour-0900 .status,
        li.hour-1000 .status,
        li.hour-1100 .status,
        li.hour-1200 .status,
        li.hour-1300 .status,
        li.hour-1400 .status,
        li.hour-1500 .status,
        li.hour-1600 .status,
        li.hour-1700 .status,
        li.hour-1800 .status {
            margin-bottom: 0px;
            &:before {
                width: 10px;
                height: 10px;
                border-radius: 25px;
                background-color: #d9534f !important;
            }
            h4 {
                display: inline;
            }
        }
        // Intensidad --------------------------------- >
        li.intensidad-0:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            background: #d9534f;
            border-radius: 4px 4px 0 0;
            left: 18%;
            opacity: 0.1;
            top: -10px;
        }
        li.intensidad-1:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 10px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d9534f+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* IE6-9 */
            //border-radius:4px 4px 0 0;
            left: 5%;
            //opacity: 0.1;
            top: -10px;
        }
        li.intensidad-2:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d9534f+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* IE6-9 */
            //border-radius:4px 4px 0 0;
            left: 5%;
            //opacity: 0.2;
            top: -20px;
        }
        li.intensidad-3:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d9534f+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            /* IE6-9 */
            //border-radius:4px 4px 0 0;
            left: 2px;
            //opacity: 0.3;
            top: -30px;
        }
        li.intensidad-4:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 40px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d9534f+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            /* IE6-9 */
            //border-radius:4px 4px 0 0;
            left: 0;
            //opacity: 0.4;
            top: -40px;
        }
        li.intensidad-5:before {
            content: " ";
            display: block;
            position: absolute;
            width: 30px;
            height: 50px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,d9534f+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(217, 83, 79, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            /* IE6-9 */
            //border-radius:4px 4px 0 0;
            left: 0;
            // opacity: 0.5;
            top: -50px;
        }
        .inten {
            color: #d9534f;
            font-size: 12px;
            opacity: 0.7;
            padding: 5px;
            position: absolute;
            left: 15px;
            bottom: 65px;
        }
        // < ------------------------------------------------- Intensidad
        a .li.complete .status {
            border-top: 2px solid #d7dad8;
        }
        .li.complete .status:before {
            background-color: #d7dad8;
            border: none;
            transition: all 200ms ease-in;
        }
        .li.complete .status h4 {
            color: #d7dad8;
            outline: 0px;
            cursor: pointer;
        }
        @media (min-device-width: 320px) and (max-device-width: 700px) {
            .timeline {
                list-style-type: none;
                display: block;
            }
            .li {
                transition: all 200ms ease-in;
                display: flex;
                width: inherit;
            }
            .timestamp {
                width: 100px;
            }
            .status:before {
                left: -8%;
                top: 30%;
                transition: all 200ms ease-in;
            }
        }
    }
}

.categorias {
    right: 0px;
    top: -173px;
    width: 155px;
    text-align: left;
    margin-right: 13px;
    position: absolute;
    opacity: 1 !important;
    display: inline-block;
    padding: 3px 10px 10px 10px;
}

.categorias ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.categorias ul li {
}

.categorias img {
    height: 14px;
    margin-right: 10px;
}
