<uib-accordion close-others="oneAtATime" class="footer-timeline">
  <div class="categorias panel panel-default">
    <ul>
      <li><span><img src="../../assets/images/oficial.png"></span>Oficial</li>
      <li><span><img src="../../assets/images/incidentes.png"></span>Incidentes</li>
      <li><span><img src="../../assets/images/informacion.png"></span>Información</li>
    </ul>
  </div>
    <div uib-accordion-group class="panel-default" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <div class="box-timeline">
            <ul class="timeline" id="timeline">
               <!-- <li ng-repeat="point in vm.points" ng-class="vm.getClassName(point.hour)">{{point.hour}}</li>-->
                <li class="li complete" ng-repeat="point in vm.points" ng-class="vm.getClassName(point.Hora_ini)">
                    <!--<div class="timestamp">
                        <span class="date">{{point.hour}}<span>
                  </div>-->
                  <div class="status">
                    <h4 ng-click="vm.itemClick(point.Hora_ini)"> {{point.Hora_ini}} </h4>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</uib-accordion>
