.container-time-content {
    //height: 2500px;
    padding: 0 20px 0px 0px;
}

.timeline-content {
    list-style: none;
    position: relative;
    padding: 20px 0 20px;
}

.timeline-content:before {
    top: 0;
    bottom: 0;
    content: " ";
    width: 3px;
    left: 30px;
    position: absolute;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline-content > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline-content > li span.marcha {
    background: url('../../assets/images/icons/marcha.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.barricadas {
    background: url('../../assets/images/icons/barricada.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.cortes_de_transito {
    background: url('../../assets/images/icons/corte-transito.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.disposicion_policial {
    background: url('../../assets/images/icons/disposicion-policial.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.enfrentamientos {
    background: url('../../assets/images/icons/enfrentamiento.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.incendio {
    background: url('../../assets/images/icons/incendio.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.informacion_oficial {
    background: url('../../assets/images/icons/informacion.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.informacion_prensa {
    background: url('../../assets/images/icons/informacion.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content > li span.informacion_ciudadana {
    background: url('../../assets/images/icons/informacion.svg') center no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 20px 20px;
}

.timeline-content .oficial {
    background-color:#5cb85c !important;
}

.timeline-content .incidentes {
    background-color:#d9534f !important;
}

.timeline-content .informacion {
    background-color:#5bc0de !important;
}

.timeline-content > li.active {
    opacity:1;
}

.timeline-content > li.non-active {
    opacity:0.3;
}

.timeline-content > li:before,
.timeline-content > li:after {
    content: " ";
    display: table;
}

.timeline-content > li:after {
    clear: both;
}

.timeline-content > li:before,
.timeline-content > li:after {
    content: " ";
    display: table;
}

.timeline-content > li:after {
    clear: both;
}

.timeline-content > li > .timeline-panel {
    width: calc( 100% - 60px);
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-content > li > .timeline-panel:before {
    position: absolute;
    top: 27px;
    left: -9px;
    display: inline-block;
    border-top: 8px solid #fff;
    border-right: 8px solid #ccc;
    border-bottom: 8px solid #fff;
    content: " ";
}

.timeline-content > li > .timeline-panel:after {
    // position: absolute;
    // top: 27px;
    // left: -14px;
    // display: inline-block;
    // border-top: 14px solid transparent;
    // border-left: 14px solid #fff;
    // border-right: 0 solid #fff;
    // border-bottom: 14px solid transparent;
    // content: " ";
}

.timeline-content > li > .timeline-badge {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 35px;
    margin-left: -25px;
    background-color: #999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-content > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline-content > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline-content > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    text-transform:capitalize;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-body img {
    margin-bottom: 15px;
}

.welcome-msg {
    padding: 15px 0 15px 15px;
}

.welcome-msg img {
    margin-bottom:15px;
    max-width:100%;
}
