<div class="container-time-content" ng-hide='!!vm.arrayData.length'>
    <!-- mensaje Inicio -->
    <div class="welcome-msg">
        <h4><strong>Revive los incidentes del 21 de mayo de 2016 en Valparaíso.<strong></h4>
        <hr>
        <img src="../../assets/images/news/19-FOTO1126.jpg" />
        <p>Revisa en una sola pantalla los incidentes ocurridos este año en Valparaíso durante la tradicional cuenta anual del presidente de la República ante el Congreso pleno el 21 de mayo y observa en una línea de tiempo interactiva sobre el plano de la ciudad puerto todos los hechos que terminaron con la muerte de un guardia municipal y millonarias pérdidas en destrozos.</p>
        <p>Con más de 90 puntos de información georeferenciados revisa mediante fotos, texto y videos un completo relato de los acontecimientos, así como también la opinión de la autoridad y la reacción en redes sociales.</p>
    </div>
</div>

<!-- Listado hitos -->
<div class="container-time-content" ng-show='!!vm.arrayData.length'>
    <ul class="timeline-content">
        <li ng-repeat="info in vm.arrayData" id="{{info.id}}">
            <div class="timeline-badge info"><span class="informacion"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{info.type}}</h4>
                </div>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{info.hour}} - {{info.subType}}</small></p>
                <div class="timeline-body">
                    <div ng-if="info.image != ''">
                        <img src="assets/images/news/{{info.image}}" class="img-responsive" alt="">
                    </div>
                    <p>{{info.text}}</p>
                    <small>{{info.link}}</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="active">
            <div class="timeline-badge danger"><span class="marcha"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="non-active">
            <div class="timeline-badge danger"><span class="enfrentamientos"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="non-active">
            <div class="timeline-badge danger"><span class="incendio"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="non-active">
            <div class="timeline-badge danger"><span class="barricadas"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="non-active">
            <div class="timeline-badge success"><span class="cortes_de_transito"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
        <li ng-repeat="info in vm.arrayData" class="non-active">
            <div class="timeline-badge success"><span class="disposición_policial"></span></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title ng-binding">incidentes</h4>
                </div>
                <p><small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i> 11:02 - enfrentamientos</small></p>
                <div class="timeline-body">
                    <!-- ngIf: info.image != '' --><div ng-if="info.image != ''" class="ng-scope">
                        <img src="assets/images/news/16-FOTO1102.jpg" class="img-responsive" alt="">
                    </div><!-- end ngIf: info.image != '' -->
                    <p class="ng-binding">Finaliza discurso de la Presidenta Bachelet ante el Congreso Pleno.</p>
                    <small class="ng-binding">http://google.com</small>
                </div>
            </div>
        </li>
    </ul>
</div>
